{% set sportIcons = {'handball': '/images/handball.svg', 'floorball': '/images/floorball.svg'} %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{{ title }}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="js/jquery-2.1.4.js"></script>

        <script>
            var sameDay = function() {

                var today = new Date();
                today.setHours(0, 0, 0, 0);

                var matchDay = new Date("{{ dato|date_modify('midnight')|date("F j, Y") }}");
                matchDay.setHours(0, 0, 0, 0);

                return today.getTime() === matchDay.getTime();
            }();

            function getDate() {
                return new Date();
            }
            function updateMinute() {
                var date = getDate();
                var minutes = date.getMinutes();
                if (minutes % 5 === 0) {
                    updateRowAppearance(date);
                }
                if (minutes < 10) {
                    minutes = "0" + minutes;
                }
                document.getElementById('minutt' ).innerHTML = "" + minutes;
            }
            function updateHour() {
                var date = getDate();
                var hours = date.getHours();
                if (hours < 10) {
                    hours = "0" + hours;
                }
                document.getElementById('time' ).innerHTML = "" + hours;
            }
            function startClock() {
                var date = getDate();
                // set current value
                updateHour();
                updateMinute();
                // when will we update minute and hour next?
                var untilNextMinute = 60 - date.getSeconds();
                var untilNextHour = 60 - date.getMinutes();
                // set them to update when the time has come
                setTimeout(function () {
                    setInterval(updateMinute, 60000);
                    updateMinute();
                }, untilNextMinute * 1000);
                setTimeout(function () {
                    setInterval(updateHour, 3600000);
                    updateHour();
                }, (untilNextHour * 60000) - (date.getSeconds() * 1000));
                // show what matches are done playing, etc
                updateRowAppearance(date);
            }

            function updateRowAppearance(date)
            {
                function getStartTime(row) {
                    {% set startTimeIndex = 0 %}
                    return $(row).find("td").eq({{ startTimeIndex }}).text();
                }
                function getEndTime(row) {
                    {% set endTimeIndex = startTimeIndex + 1 %}
                    return $(row).find("td").eq({{ endTimeIndex }}).text();
                }

                var getTime = ('0' + date.getHours()).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2);
                var isDone = function (index) {
                    return getEndTime(this) < getTime;
                };
                var isInProgress = function (index) {
                    return getTime >= getStartTime(this) && getTime <= getEndTime(this);
                };
                var isNotStarted = function (index) {
                    return getTime < getStartTime(this);
                };

                var rows = $( '#kamper' ).find( 'tbody' ).children();

                var desiredNumMatches = 6;
                // Are there too many rows?
        		if (rows.length > desiredNumMatches) {
                    doneMatches = rows.filter(isDone);
                    var rowsOverLimit = rows.length - desiredNumMatches;
                    var oldMatchesToKeep = Math.max(2, (doneMatches.length - rowsOverLimit));
        		    if (doneMatches.length > oldMatchesToKeep) {
        		        doneMatches.slice(0, -oldMatchesToKeep).remove();
        		    }
                    // Refresh list of rows
                    rows = $( '#kamper' ).find( 'tbody' ).children();
        		} 
        		
        		rows.filter(isDone).removeClass().addClass('text-muted');
                rows.filter(isInProgress).removeClass().addClass('bg-primary');
                rows.filter(isNotStarted).removeClass();  // not really needed; they will never get a class in the first place

            }

            if (sameDay) {
                $(document).ready(function () {
                    startClock();
                });
            }

        </script>

        <!-- Latest compiled CSS -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css">

        <style>
           /* col {
                width: fit-content;
                width: -moz-fit-content;
                width: -webkit-fit-content;
            }
            col#strek {
                width: 1em;
            }
            col#bortelag {
                width: available;
                width: fill-available;
                width: -moz-available;
            } */

            tr.active {
                font-weight: bold;
            }

            @keyframes blink {
                0% { opacity: 1.0; }
                50% { opacity: 0.0; }
                100% { opacity: 1.0; }
            }

            @-webkit-keyframes blink {
                0% { opacity: 1.0; }
                50% { opacity: 0.0; }
                100% { opacity: 1.0; }
            }

            #kolon {
                animation: blink 4s step-start 0s infinite;
                -webkit-animation: blink 4s step-start 0s infinite;
            }

            #icon {
                font-size: 115px;
            }

            .sportCell {
                text-align: left;
            }
            .sportCell img {
                height: 1.4em;
            }
            .bg-primary .sportCell img {
                filter: invert(100%);
            }
            .text-muted .sportCell img {
                opacity: 0.46;
            }
            @media screen and (max-device-width: 1600px) {
                h2 {
                    font-size: 52px;
                }

                body {
                    font-size: 24px;
                }

                #icon {
                    font-size: 80px;
                }
            }
            @media screen and (max-device-width: 1000px) {
                h2 {
                    font-size: 35px;
                }
                body {
                    font-size: 20px;
                }
                #icon {
                    font-size: 55px;
                }
            }
            /*
            body {
                font-size: 2em;
            }
            h1 {
                font-size: 3em;
            }

            h1 small {
                font-size: 1.6em;
            }

            table {
                font-size: 2.3em;
            } */
            body {
                font-family: "Liberation Sans", sans-serif;
            }
            footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                z-index: 100;
                font-size: 0.6em;
                background-color: white;
            }
            footer p {
                margin: 0;
            }


        </style>

        <!-- Latest compiled and minified JavaScript -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
        {% endblock %}
    </head>
    
    <body>
    <div class="container-fluid">
        {% block header %}
        <div class="row first">
            <div class="col-lg-12 clearfix" style="margin-top:10px">
                <span class="glyphicon glyphicon-info-sign pull-left text-info" aria-hidden="true" id="icon"></span>
                <h2 class="pull-left text-info" style="vertical-align: middle">&nbsp;&nbsp;{{ title }}</h2>
                <h2 class="text-muted pull-right" style="vertical-align: middle">
                    <script>
                        if (sameDay) {
                            document.write('<span id="time"></span><span id="kolon">:</span><span id="minutt"></span>');
                        } else {
                            document.write("{{ dato|day('nob', 'f') }} {{ dato|date("d.m.y") }}");
                        }
                    </script>
                </h2>
            </div>
        </div>
        {% endblock %}
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                {% block list %}
                <table style="width: 100%; {% if not kamper %}opacity: 0; {% endif %}" class="table table-striped" id="kamper">
                    <colgroup>
                        <col id="kampstart"/>
                        <col id="kampslutt" style="display: none;"/>
                        {% if displaySport %}
                        <col id="sport"/>
                        {% endif %}
                        {% if displayField %}
                            <col id="bane"/>
                        {% endif %}
                        <col id="hjemmelag"/>
                        <col id="strek"/>
                        <col id="bortelag"/>
                        <col id="avdeling"/>
                        {% if displayChangingRooms %}
                        <col id="hjemmegarderobe"/>
                        <col id="bortegarderobe"/>
                        {% endif %}
                    </colgroup>
                    <thead>
                    <tr>
                        <th rowspan="2">Kampstart</th>
                        <th rowspan="2" class="hide">Kampslutt</th>
                        {% if displaySport %}
                        <th rowspan="2">Idrett</th>
                        {% endif %}
                        {% if displayField %}
                            <th rowspan="2">Bane</th>
                        {% endif %}
                        <th rowspan="2">Hjemmelag</th>
                        <th rowspan="2">–</th>
                        <th rowspan="2">bortelag</th>
                        <th rowspan="2">Turnering</th>
                        {% if displayChangingRooms %}
                        <th colspan="2">Garderober</th>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if displayChangingRooms %}
                        <th>hjemme</th>
                        <th>borte</th>
                        {% endif %}
                    </tr>
                    </thead>
                    {#{% if kamper %}
                    <tfoot>
                    <tr class="text-muted">
                        <td><em>{{ dagSlutt }}</em></td>
                        <td colspan="7"><em>Slutt for dagen</em></td>
                    </tr>
                    </tfoot>
                    {% endif %}#}
                    <tbody>
                    {% for kamp in kamper %}
                    <tr>
                        <td>{{ kamp.starttid|date("H:i") }}</td>
                        <td class="hide">{{ kamp.sluttid|date("H:i") }}</td>
                        {% if displaySport %}
                            <td class="sportCell">{% if kamp.sport %}<img src="{{ sportIcons[kamp.sport] }}" alt="{{ kamp.sport }}"/>{% endif %}</td>
                        {% endif %}
                        {% if displayField %}
                            <td>{{ kamp.bane }}</td>
                        {% endif %}
                        <td>{{ kamp.hjemmelag|raw }}</td><td> – </td><td>{{ kamp.bortelag|raw }}</td>
                        <td>{{ kamp.avdeling|raw }}</td>
                        {% if displayChangingRooms %}
                            <td>{{ kamp.hjemmegarderobe }}</td>
                            <td>{{ kamp.bortegarderobe }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endblock %}
                {% if not kamper %}
                <h3 class="text-center">Det er ingen kamper
                    <script>
                        if (sameDay) {
                            document.write("i dag.");
                        } else {
                            document.write("{{ dato|day('nob', 'f') }} {{ dato|date("d.m.Y") }}.");
                        }
                    </script></h3>
                {% endif %}
            </div>
        </div>
        {% block footer %}
            <footer class="row" style="">
                <div class="col-md-12">
                    <p class="text-muted"><small>Kampinformasjon hentet fra nif.no. Ikon for innebandy av Jakub Čaja fra thenounproject.com.</small></p>
                </div>
            </footer>
        {% endblock %}
    </div>
    </body>
</html>
