<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>Fotballkamper</title>
        <meta charset="UTF-8">
        <script src="js/jquery-2.1.4.js"></script>

        <script>
            function getDate() {
                return new Date();
            }
            function updateMinute() {
                var date = getDate();
                var minutes = date.getMinutes();
                if (minutes < 10) {
                    minutes = "0" + minutes;
                }
                document.getElementById('minutt' ).innerHTML = "" + minutes;
            }
            function updateHour() {
                var date = getDate();
                var hours = date.getHours();
                if (hours < 10) {
                    hours = "0" + hours;
                }
                document.getElementById('time' ).innerHTML = "" + hours;
            }
            function startClock() {
                var date = getDate();
                // set current value
                updateHour();
                updateMinute();
                var untilNextMinute = 60 - date.getSeconds();
                var untilNextHour = 60 - date.getMinutes();
                setTimeout(function () {
                    setInterval(updateMinute, 60000);
                    updateMinute();
                }, untilNextMinute * 1000);
                setTimeout(function () {
                    setInterval(updateHour, 3600000);
                    updateHour();
                }, (untilNextHour * 60000) - (date.getSeconds() * 1000));
            }

            $( document ).ready(function () {
                startClock();
            });

        </script>

        <!-- Latest compiled CSS -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.css">

        <style>
           /* col {
                width: fit-content;
                width: -moz-fit-content;
                width: -webkit-fit-content;
            }
            col#strek {
                width: 1em;
            }
            col#bortelag {
                width: available;
                width: fill-available;
                width: -moz-available;
            } */

            tr.active {
                font-weight: bold;
            }

            @keyframes blink {
                0% { opacity: 1.0; }
                50% { opacity: 0.0; }
                100% { opacity: 1.0; }
            }

            @-webkit-keyframes blink {
                0% { opacity: 1.0; }
                50% { opacity: 0.0; }
                100% { opacity: 1.0; }
            }

            #kolon {
                animation: blink 4s step-start 0s infinite;
                -webkit-animation: blink 4s step-start 0s infinite;
            }

            body {
                min-width: 1872px;
                min-height: 1048px;
            }
            /*
            body {
                font-size: 2em;
            }
            h1 {
                font-size: 3em;
            }

            h1 small {
                font-size: 1.6em;
            }

            table {
                font-size: 2.3em;
            } */
            h2 {
                font-weight: bold;
            }
            body {
                font-family: "Liberation Sans", sans-serif;
            }
            table {
                font-weight: 700;
            }
            tbody, tfoot {
                font-size: 42px;
            }

        </style>

        <!-- Latest compiled and minified JavaScript -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
        {% endblock %}
    </head>
    
    <body>
    <div class="container-fluid">
        {% block header %}
        <div class="row first">
            <div class="col-lg-12 clearfix" style="margin-top:10px">
                <span class="glyphicon glyphicon-info-sign pull-left text-info" aria-hidden="true" style="font-size: 115px"></span>
                <h2 class="pull-left text-info" style="vertical-align: middle">&nbsp;&nbsp;Fotballkamper på Fedrelandet</h2>
                <h2 class="text-muted pull-right" style="vertical-align: middle">
                    <span id="time"></span
                            ><span id="kolon">:</span
                        ><span id="minutt"></span
                    >
                </h2>
            </div>
        </div>
        {% endblock %}
        <div class="row">
                {% block list %}
                    {% if kamper %}
            <div class="col-lg-12">
                <table style="width: 100%;" class="table table-striped" id="kamper">
                    <colgroup>
                        <col id="kampstart"/>
                        <col id="hjemmelag"/>
                        <col id="strek"/>
                        <col id="bortelag"/>
                        <col id="avdeling"/>
                        <col id="bane"/>
                        {#<col id="hjemmegarderobe"/>
                        <col id="bortegarderobe"/>#}
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Kampstart</th>
                        <th>Hjemmelag</th>
                        <th>–</th>
                        <th>bortelag</th>
                        <th>Avdeling</th>
                        <th>Bane</th>
                        {#<th colspan="2">Garderober</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for kamp in kamper %}
                    <tr>
                        <td>{{ kamp.starttid|date("H:i") }}</td>
                        <td>{{ kamp.hjemmelag }}</td><td> – </td><td>{{ kamp.bortelag }}</td>
                        <td>{{ kamp.avdeling }}</td>
                        <td>{{ kamp.bane }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
                        {% else %}
                        <div class="col-md-6 col-md-offset-3">
                            <h3>Ingen kamper <small>i dag</small></h3>
                        </div>
                {% endif %}
                {% endblock %}
        </div>
        {% block footer %}
            <div class="row" style="position: absolute; bottom: 0; width: 100%">
                <div class="col-md-6">
                    <p class="text-muted"><small>Hentet fra fotball.no</small></p>
                </div>
                <div class="col-md-6"></div>
            </div>

        {% endblock %}
    </div>
    </body>
</html>